
body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    color: #023047
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #fff;
}

.formLogin {
    display: flex;
    flex-direction: column;
    background-color: #efefef;
    border-radius: 7px;
    padding: 40px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
    gap: 5px
}

.areaLogin img {
    width: 800px;
}
.imglogin{
    width: auto;
    height: 30px;
}

.formLogin h1 {
    padding: 0;
    margin: 0;
    font-weight: 500;
    
}



.formLogin input {
    padding: 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 4px;
    transition: all linear 160ms;
    outline: none;
}


.formLogin input:focus {
    border: 1px solid #ff0000;
}

.formLogin label {
    font-size: 14px;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

select {
    font-size: 14px;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.formLogin a {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 13px;
    color: #555;
    transition: all linear 160ms;
}

.formLogin a:hover {
    color: #ff0606;
}

.btn {
    background-color: #0000ff;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border: none !important;
    transition: all linear 160ms;
    cursor: pointer;
    margin: 0 !important;

}

.btn:hover {
    transform: scale(1.05);
    background-color: #f00;

}